---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: heading
  label: ts
- type: document
  path: customer_readme.md
  label: Informationen
  read_only: true
- type: heading
  label: SeitenInhalt
- type: directory
  path: content/Referenzen
  label: Referenzen
  create: documents
  match: "**/*"
- type: directory
  path: content/ÜberUns
  label: Über Uns - Unterpunkte
  create: none
  match: "**/*"
  templates:
  - standard
- type: directory
  path: content
  label: Seiten
  create: none
  match: "*"
  templates:
  - standard
  - gallery-idea
upload_dir: static/img
public_path: "/img"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.69.0
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.69.0
